@model List<GetAllTestimonialQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="col-lg-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Referanslar</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> #</th>
                        <th>Görsel</th>
                        <th> Başlık</th>
                        <th>İsim Soyisim</th>
                        <th>Yorum</th>
                        <th>AnaSayfa</th>
                        <th>Durum</th>
                        <th>Sil</th>
                        <th>Güncele</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td> @count</td>
                            <td><img src="@item.ImageUrl" style="height:75px;width:75px" /></td>
                            <td>@item.Title</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Comment</td>
                            <td>
                                @{
                                    if (item.IsHome == true)
                                    {
                                        <button onclick="updateHomeStatus(@item.TestimonialID)" type="submit" class="btn btn-success">Ekle</button>
                                    }
                                    else
                                    {
                                        <button onclick="updateHomeStatus(@item.TestimonialID)" type="submit" class="btn btn-danger">Çıkar</button>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (item.Status == true)
                                    {
                                        <button onclick="updateStatus(@item.TestimonialID)" type="submit" class="btn btn-success">Aktif</button>
                                    }
                                    else
                                    {
                                        <button onclick="updateStatus(@item.TestimonialID)" type="submit" class="btn btn-danger">Pasif</button>
                                    }
                                }
                            </td>
                         
                            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger"><i class="fas fa-trash"></i>Sil</a></td>
                            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success"><i class="fas fa-pen"></i> Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i> Yeni Personel Girişi</a>
        </div>
    </div>
</div>


<script>
    function updateStatus(id) {
        Swal.fire({
            title: 'Durum',
            text: 'Durumu değiştirmek istediğinizden emin misiniz?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Değiştir',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Testimonial/ChangeStatus?id=" + id;
            }
        });
    }
</script>